In [1]:
#!jupyter nbconvert --to script review_subset_generator_20180305.ipynb

[NbConvertApp] Converting notebook review_subset_generator_20180305.ipynb to script
[NbConvertApp] Writing 16568 bytes to review_subset_generator_20180305.py

In [7]:
import codecs
import pandas as pd
import itertools as it

import re

import fileinput

from pandas import DataFrame
import os

import spacy
from gensim.models import Phrases
from gensim.models.word2vec import LineSentence

import en_core_web_sm
nlp = spacy.load('en')

In [8]:
#stars_filepath = 'review_stars_rest_subset.txt'
review_txt_filepath = 'review_text_rest_subset.txt'
business_filepath = 'review_business_rest_subset.txt'
#user_filepath = 'review_user_rest_subset.txt'

In [9]:
def line_review(filename):
    """
    generator function to read in reviews from the file
    and un-escape the original line breaks in the text
    """
    
    with codecs.open(filename, encoding='utf_8') as f:
        for review in f:
            yield review.replace('\\n', '\n')

In [10]:
def get_data(filepath,review_number):
    """
    retrieve a particular review index
    from the reviews file and return it
    """
    
    return list(it.islice(line_review(filepath),
                          review_number, review_number+1))[0]

Make collased business text file

In [11]:
all_bus_filepath = "collapsed_business_rest_subset.txt"

In [12]:
all_test_filepath = "collapsed_business_rest_subset_test.txt"

Setup and define function for NLP

In [13]:
#helper functions from modern nlp in python
def punct_space(token):
    """
    helper function to eliminate tokens
    that are pure punctuation or whitespace
    """
    
    return token.is_punct or token.is_space

def line_review(filename):
    """
    generator function to read in reviews from the file
    and un-escape the original line breaks in the text
    """
    
    with codecs.open(filename, encoding='utf_8') as f:
        for review in f:
            yield review.replace('\\n', '\n')
            
def lemmatized_sentence_corpus(filename):
    """
    generator function to use spaCy to parse reviews,
    lemmatize the text, and yield sentences
    """
    
    for parsed_review in nlp.pipe(line_review(filename),
                                  batch_size=10000, n_threads=4):
        
        for sent in parsed_review.sents:
            yield u' '.join([token.lemma_ for token in sent
                             if not punct_space(token)])

In [14]:
def get_sample_review(review_txt_filepath, review_number):
    """
    retrieve a particular review index
    from the reviews file and return it
    """
    
    return list(it.islice(line_review(review_txt_filepath),
                          review_number, review_number+1))[0]

In [15]:
from gensim.corpora import Dictionary, MmCorpus
from gensim.models.ldamulticore import LdaMulticore

import pyLDAvis
import pyLDAvis.gensim
import warnings
import _pickle as pickle

In [16]:
lda_model_filepath = 'lda_model_eat_30'
trigram_dictionary_filepath = 'trigram_dict_eat_30.dict'
trigram_model_filepath = 'trigram_model_all_eat_30'
bigram_model_filepath = 'bigram_model_all_eat_30'

In [17]:
lda = LdaMulticore.load(lda_model_filepath)
trigram_dictionary = Dictionary.load(trigram_dictionary_filepath)
trigram_model = Phrases.load(trigram_model_filepath)
bigram_model = Phrases.load(bigram_model_filepath)

In [18]:
all_numbers = list(range(0,50))
df_all_numbers = pd.DataFrame(columns =["topic_number"])
for topic_number in all_numbers:
    df_all_numbers = df_all_numbers.append({
     "topic_number": topic_number
      }, ignore_index=True)

In [19]:
all_bus_lda_filepath = "review_bus_lda.txt"

In [21]:
import csv

In [37]:
fileinput.close()

In [40]:
%%time
#function to loop through all businesses and convert review to 
with open('output_file_test.csv', 'w') as file:
    wr = csv.writer(file, dialect = 'excel')
    
    for line in fileinput.input([all_test_filepath]):
        # parse the review text with spaCy
        parsed_review = nlp(line)
 
        # lemmatize the text and remove punctuation and whitespace
        unigram_review = [token.lemma_ for token in parsed_review
                      if not punct_space(token)]
    
        # apply the first-order and secord-order phrase models
        bigram_review = bigram_model[unigram_review]
        trigram_review = trigram_model[bigram_review]
    
        # remove any remaining stopwords
        trigram_review = [term for term in trigram_review
                      if not term in spacy.lang.en.stop_words.STOP_WORDS]
    
        # create a bag-of-words representation
        review_bow = trigram_dictionary.doc2bow(trigram_review)
    
         # create an LDA representation
        review_lda = lda[review_bow]
    
        # sort with the most highly related topics first
        review_lda = sorted(review_lda, key=lambda review_lda: -review_lda[1])
        
        df = pd.DataFrame(columns=["topic_number", "freq"])

        for topic_number, freq in review_lda:
            df = df.append({
            "topic_number": topic_number,
            "freq":  round(freq, 4)
            }, ignore_index=True)
            #merge with complete topic list and replace na with zero
        df_full = pd.merge(df_all_numbers, df, how='left', on=['topic_number'])
        df_full = df_full.fillna(0)

        
        one_row = df_full['freq']
        
        out = one_row.values.tolist()
        #out.insert(0, bus)
        #out2 = str(out)
        #out3 = re.sub(r"[\[ | \]]", "", out2)
            
            #print(busi)
        wr.writerow(out)    
        #output_file.write(out3)
        #output_file.write('\n')
fileinput.close()

/home/rlrognstad/anaconda3/lib/python3.6/site-packages/gensim/models/phrases.py:486: UserWarning: For a faster implementation, use the gensim.models.phrases.Phraser class
  warnings.warn("For a faster implementation, use the gensim.models.phrases.Phraser class")

CPU times: user 5min 48s, sys: 2min 4s, total: 7min 52s
Wall time: 1min 52s

In [42]:
test_read = pd.io.parsers.read_csv('output_file_test_minimal_codecs.txt',sep=",")
len(test_read)

751

In [44]:
test_read = pd.io.parsers.read_csv('output_file_test_minimal2.csv',sep=",")
len(test_read)

751

In [45]:
test_read = pd.io.parsers.read_csv('output_file_test_minimal.csv',sep=",")
len(test_read)

740

In [31]:
one_row = df_full['freq']
one_row

0     0.0000
1     0.0000
2     0.0430
3     0.0123
4     0.0000
5     0.0187
6     0.0000
7     0.0121
8     0.0000
9     0.0178
10    0.0000
11    0.0189
12    0.0000
13    0.0102
14    0.0560
15    0.0000
16    0.3007
17    0.0000
18    0.0000
19    0.0000
20    0.0281
21    0.0000
22    0.0000
23    0.0315
24    0.0349
25    0.0000
26    0.0000
27    0.0000
28    0.0000
29    0.0702
30    0.0000
31    0.0274
32    0.0000
33    0.0229
34    0.0000
35    0.0351
36    0.0000
37    0.0508
38    0.0253
39    0.0203
40    0.0000
41    0.0000
42    0.0284
43    0.0000
44    0.0347
45    0.0000
46    0.0000
47    0.0165
48    0.0000
49    0.0000
Name: freq, dtype: float64

In [32]:
out = one_row.values.tolist()
out

[0.0,
 0.0,
 0.0430000014603138,
 0.012299999594688416,
 0.0,
 0.018699999898672104,
 0.0,
 0.01209999993443489,
 0.0,
 0.017799999564886093,
 0.0,
 0.01889999955892563,
 0.0,
 0.010200000368058681,
 0.0560000017285347,
 0.0,
 0.30070000886917114,
 0.0,
 0.0,
 0.0,
 0.02810000069439411,
 0.0,
 0.0,
 0.03150000050663948,
 0.0348999984562397,
 0.0,
 0.0,
 0.0,
 0.0,
 0.07020000368356705,
 0.0,
 0.027400000020861626,
 0.0,
 0.02290000021457672,
 0.0,
 0.035100001841783524,
 0.0,
 0.05079999938607216,
 0.025299999862909317,
 0.0203000009059906,
 0.0,
 0.0,
 0.0284000001847744,
 0.0,
 0.034699998795986176,
 0.0,
 0.0,
 0.016499999910593033,
 0.0,
 0.0]

In [62]:
import csv
RESULT = out#['apple','cherry','orange','pineapple','strawberry']
with open("output.csv",'w') as resultFile:
    wr = csv.writer(resultFile, dialect='excel')
    wr.writerow(RESULT)
    wr.writerow(RESULT)

In [61]:
isinstance(out, list)

True

In [56]:
pivoted

                       freq                                                  \
topic_number             0       1    2    3       4    5    6      7    8
bus
9yxHYyXMHjh7LpoolJiH9w  0.0  0.0673  0.0  0.0  0.0574  0.0  0.0  0.096  0.0

                               ...                                          \
topic_number                9  ...    40      41      42   43      44   45
bus                            ...
9yxHYyXMHjh7LpoolJiH9w  0.0572 ...   0.0  0.0809  0.0243  0.0  0.0577  0.0


topic_number             46   47   48   49
bus
9yxHYyXMHjh7LpoolJiH9w  0.0  0.0  0.0  0.0

[1 rows x 50 columns]

In [66]:
test_read = pd.io.parsers.read_csv('output_file_test.csv',sep=",")
len(test_read)

9

In [45]:
test_read

      [
0     '
1     M
2     a
3     I
4     _
5     E
6     e
7     v
8     M
9     b
10    W
11    B
12    U
13    n
14    K
15    3
16    6
17    L
18    4
19    p
20    A
21    n
22    g
23    '
24    ,
25    0
26    .
27    0
28    ,
29    0
...  ..
4727  0
4728  7
4729  0
4730  3
4731  3
4732  3
4733  4
4734  8
4735  1
4736  ,
4737  0
4738  .
4739  0
4740  ,
4741  0
4742  .
4743  0
4744  ,
4745  0
4746  .
4747  0
4748  ,
4749  0
4750  .
4751  0
4752  ,
4753  0
4754  .
4755  0
4756  ]

[4757 rows x 1 columns]

In [ ]:
%%time
#function to loop through all businesses and convert review to 
if 1 == 1:
    for busi in list(range(0,10)):
        # parse the review text with spaCy
        parsed_review = nlp(all_bus[busi])
 
        # lemmatize the text and remove punctuation and whitespace
        unigram_review = [token.lemma_ for token in parsed_review
                      if not punct_space(token)]
    
        # apply the first-order and secord-order phrase models
        bigram_review = bigram_model[unigram_review]
        trigram_review = trigram_model[bigram_review]
    
        # remove any remaining stopwords
        trigram_review = [term for term in trigram_review
                      if not term in spacy.lang.en.stop_words.STOP_WORDS]
    
        # create a bag-of-words representation
        review_bow = trigram_dictionary.doc2bow(trigram_review)
    
         # create an LDA representation
        review_lda = lda[review_bow]
    
        # sort with the most highly related topics first
        review_lda = sorted(review_lda, key=lambda review_lda: -review_lda[1])
        
        bus = ''.join([list(x) for x in bus_set][busi])

        df = pd.DataFrame(columns=["topic_number", "freq"])

        for topic_number, freq in review_lda:
            df = df.append({
            "topic_number": topic_number,
            "freq":  round(freq, 4)
            }, ignore_index=True)
            #merge with complete topic list and replace na with zero
        df_full = pd.merge(df_all_numbers, df, how='left', on=['topic_number'])
        df_full = df_full.fillna(0)
        
        df_full['bus'] = bus

        pivoted = df_full.pivot('bus', 'topic_number')
        
        one_row = pivoted.iloc[0]
        
        out = one_row.values.tolist()
        out.insert(0, bus)
        out2 = str(out)
        out3 = re.sub(r"[\[ | \]]", "", out2)
            
            #print(busi)
           
        output_file.write(out3)
        output_file.write('\n')

/home/rlrognstad/anaconda3/lib/python3.6/site-packages/gensim/models/phrases.py:486: UserWarning: For a faster implementation, use the gensim.models.phrases.Phraser class
  warnings.warn("For a faster implementation, use the gensim.models.phrases.Phraser class")

In [33]:
list(range(0,1000))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999]

In [29]:
test_read = pd.io.parsers.read_csv('output_file.csv',sep=",")
len(test_read)

365557

In [ ]:
test_read = pd.io.parsers.read_csv(all_bus_lda_filepath,sep=",")
len(test_read)

In [31]:
test_read.shape

(365557, 1)

In [30]:
%%time
#function to loop through all businesses and convert review to 
if 1 == 1:
    with open(all_bus_lda_filepath, 'w') as f:
        for busi in list(range(0,500)):
            # parse the review text with spaCy
            parsed_review = nlp(all_bus[busi])
 
            # lemmatize the text and remove punctuation and whitespace
            unigram_review = [token.lemma_ for token in parsed_review
                      if not punct_space(token)]
    
            # apply the first-order and secord-order phrase models
            bigram_review = bigram_model[unigram_review]
            trigram_review = trigram_model[bigram_review]
    
            # remove any remaining stopwords
            trigram_review = [term for term in trigram_review
                      if not term in spacy.lang.en.stop_words.STOP_WORDS]
    
            # create a bag-of-words representation
            review_bow = trigram_dictionary.doc2bow(trigram_review)
    
            # create an LDA representation
            review_lda = lda[review_bow]
    
            # sort with the most highly related topics first
            review_lda = sorted(review_lda, key=lambda review_lda: -review_lda[1])
        
            bus = ''.join([list(x) for x in bus_set][busi])

            df = pd.DataFrame(columns=["topic_number", "freq"])

            for topic_number, freq in review_lda:
                df = df.append({
                "topic_number": topic_number,
                "freq":  round(freq, 4)
                }, ignore_index=True)
            #merge with complete topic list and replace na with zero
            df_full = pd.merge(df_all_numbers, df, how='left', on=['topic_number'])
            df_full = df_full.fillna(0)
        
            df_full['bus'] = bus

            pivoted = df_full.pivot('bus', 'topic_number')
        
            one_row = pivoted.iloc[0]
        
            out = one_row.values.tolist()
            out.insert(0, bus)
            out2 = str(out)
            out3 = re.sub(r"[\[ | \]]", "", out2)
            
            #print(busi)
           
            f.write(out3)
            f.write('\n')

/home/rlrognstad/anaconda3/lib/python3.6/site-packages/gensim/models/phrases.py:486: UserWarning: For a faster implementation, use the gensim.models.phrases.Phraser class
  warnings.warn("For a faster implementation, use the gensim.models.phrases.Phraser class")

CPU times: user 25min 33s, sys: 14min 32s, total: 40min 6s
Wall time: 7min 53s

In [ ]:
test_read = pd.io.parsers.read_csv(all_bus_lda_filepath,sep=",")
len(test_read)

499

In [35]:
50000/500

100.0

In [ ]:
for rd in list(range(1,99)):
    st = rd * 500
    ed = (rd + 1) * 500
    with open(all_bus_lda_filepath, 'a') as f:
        for busi in list(range(st,ed)):
            # parse the review text with spaCy
            parsed_review = nlp(all_bus[busi])
    
            # lemmatize the text and remove punctuation and whitespace
            unigram_review = [token.lemma_ for token in parsed_review
                      if not punct_space(token)]
    
            # apply the first-order and secord-order phrase models
            bigram_review = bigram_model[unigram_review]
            trigram_review = trigram_model[bigram_review]
    
            # remove any remaining stopwords
            trigram_review = [term for term in trigram_review
                      if not term in spacy.lang.en.stop_words.STOP_WORDS]
    
            # create a bag-of-words representation
            review_bow = trigram_dictionary.doc2bow(trigram_review)
    
            # create an LDA representation
            review_lda = lda[review_bow]
    
            # sort with the most highly related topics first
            review_lda = sorted(review_lda, key=lambda review_lda: -review_lda[1])
        
            bus = ''.join([list(x) for x in bus_set][busi])

            df = pd.DataFrame(columns=["topic_number", "freq"])

            for topic_number, freq in review_lda:
                df = df.append({
                "topic_number": topic_number,
                "freq":  round(freq, 4)
                }, ignore_index=True)
            #merge with complete topic list and replace na with zero
            df_full = pd.merge(df_all_numbers, df, how='left', on=['topic_number'])
            df_full = df_full.fillna(0)
        
            df_full['bus'] = bus

            pivoted = df_full.pivot('bus', 'topic_number')
        
            one_row = pivoted.iloc[0]
        
            out = one_row.values.tolist()
            out.insert(0, bus)
            out2 = str(out)
            out3 = re.sub(r"[\[ | \]]", "", out2)
            
           
            f.write(out3)
            f.write('\n')
            
    print(rd)

/home/rlrognstad/anaconda3/lib/python3.6/site-packages/gensim/models/phrases.py:486: UserWarning: For a faster implementation, use the gensim.models.phrases.Phraser class
  warnings.warn("For a faster implementation, use the gensim.models.phrases.Phraser class")

In [40]:
rd = 3
st = rd * 500
ed = (rd + 1) * 500
print(rd, st, ed)

3 1500 2000

In [124]:
import re
out3 = re.sub(r"[\[ | \]]", "", out2)

In [125]:
out3

"'ToNd6fEn_SvcQc1Fulsidg',0.09790000319480896,0.0,0.0,0.0,0.21660000085830688,0.0,0.10610000044107437,0.016300000250339508,0.0,0.011699999682605267,0.014100000262260437,0.0,0.0,0.0,0.014700000174343586,0.0,0.01209999993443489,0.032999999821186066,0.0,0.0,0.0,0.0,0.0,0.020999999716877937,0.010400000028312206,0.0,0.021900000050663948,0.0,0.0,0.052000001072883606,0.0,0.03269999846816063,0.0,0.013899999670684338,0.0,0.0,0.0,0.04740000143647194,0.0,0.0,0.0,0.15690000355243683,0.0,0.0,0.016100000590085983,0.0,0.0,0.019200000911951065,0.0,0.0"

In [96]:
out2 = str(out)
''.join(out2)

"['1ylA7yyrMMUX1zcu5EqO4Q', 0.0, 0.0, 0.0430000014603138, 0.012299999594688416, 0.0, 0.018699999898672104, 0.0, 0.01209999993443489, 0.0, 0.017799999564886093, 0.0, 0.01889999955892563, 0.0, 0.010200000368058681, 0.0560000017285347, 0.0, 0.30070000886917114, 0.0, 0.0, 0.0, 0.02810000069439411, 0.0, 0.0, 0.03150000050663948, 0.0348999984562397, 0.0, 0.0, 0.0, 0.0, 0.07020000368356705, 0.0, 0.027400000020861626, 0.0, 0.02290000021457672, 0.0, 0.035100001841783524, 0.0, 0.05079999938607216, 0.025299999862909317, 0.0203000009059906, 0.0, 0.0, 0.0284000001847744, 0.0, 0.034699998795986176, 0.0, 0.0, 0.016499999910593033, 0.0, 0.0]"

In [81]:
busi =0
parsed_review = nlp(all_bus[busi])
unigram_review = [token.lemma_ for token in parsed_review
                      if not punct_space(token)]
bigram_review = bigram_model[unigram_review]
trigram_review = trigram_model[bigram_review]
trigram_review = [term for term in trigram_review
    if not term in spacy.lang.en.stop_words.STOP_WORDS]
review_bow = trigram_dictionary.doc2bow(trigram_review)
review_lda = lda[review_bow]

bus = ''.join([list(x) for x in bus_set][busi])

df = pd.DataFrame(columns=["topic_number", "freq"])

for topic_number, freq in review_lda:
    df = df.append({
    "topic_number": topic_number,
    "freq":  round(freq, 4)
    }, ignore_index=True)
#merge with complete topic list and replace na with zero
df_full = pd.merge(df_all_numbers, df, how='left', on=['topic_number'])
df_full = df_full.fillna(0)
        
df_full['bus'] = bus

pivoted = df_full.pivot('bus', 'topic_number')

/home/rlrognstad/anaconda3/lib/python3.6/site-packages/gensim/models/phrases.py:486: UserWarning: For a faster implementation, use the gensim.models.phrases.Phraser class
  warnings.warn("For a faster implementation, use the gensim.models.phrases.Phraser class")

In [82]:
pivoted

                       freq                                                  \
topic_number             0    1    2       3    4    5    6    7    8    9
bus
1ylA7yyrMMUX1zcu5EqO4Q  0.0  0.0  0.0  0.0624  0.0  0.0  0.0  0.0  0.0  0.0

                         ...                                                \
topic_number             ...     40   41   42      43      44   45      46
bus                      ...
1ylA7yyrMMUX1zcu5EqO4Q   ...    0.0  0.0  0.0  0.0171  0.0269  0.0  0.0592


topic_number                47   48      49
bus
1ylA7yyrMMUX1zcu5EqO4Q  0.0886  0.0  0.1216

[1 rows x 50 columns]

In [83]:
one_row = pivoted.iloc[0]

In [84]:
out = one_row.values.tolist()
out.insert(0, bus)
print(out)

['1ylA7yyrMMUX1zcu5EqO4Q', 0.0, 0.0, 0.0, 0.06239999830722809, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.02630000002682209, 0.0674000009894371, 0.0, 0.023099999874830246, 0.0, 0.0, 0.0, 0.0, 0.0, 0.11969999969005585, 0.0, 0.21979999542236328, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.06069999933242798, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.022199999541044235, 0.07370000332593918, 0.0, 0.0, 0.0, 0.017100000753998756, 0.026900000870227814, 0.0, 0.05920000001788139, 0.08860000222921371, 0.0, 0.12160000205039978]

In [85]:
all_bus[1]

"This place is so good. I work nearby and come here often for lunch.  Their menu is 7.49 for one veg & one meat & rice or noodles, 7.99 for two veg & one meat & rice or noodles, 8.49 for one veg & two meat & rice or noodles. They also offer salads (7.49 I believe).  The rice is amazing. They have a few different kinds, but I have only tried the Jambalayan kind. It's sort of spicy but SO delicious. It is, in fact, so good, I am not willing to try the other kinds. Instead of rice, you can also get noodles.  Their vegetables include home fries, corn, mixed veggies, zucchini, mashed potatoes, and a few others. I have tried the home fries, mixed veggies, and zucchini and they are all good, but I personally like the home fries the most.  Their meats change on a daily basis, but they normally have bourbon chicken, blackened chicken, honey glazed chicken, spicy beef, rainbow shrimp, a type of fish (I forget), and a few other chicken flavours. The bourbon chicken is amazing. Ask for extra sauce over your rice.   The women here work fast, and will give you a sample if you are unsure of what you want. The servings are quite large. I find it's not the regular 'greasy Chinese food' you normally get, and instead, is probably decently healthy (you're in a food court, it's relative).   The drinks are a bit expensive, so that's why they get 4 stars. If you can, buy your food here and then go to KFC or somewhere to get a cheaper drink. I also wish the meals were about 50 cents cheaper. It's still good food for the price, so I won't complain too much. Definitely give it a try.Came here around 8:30pm which is when they start offering their end of day special.  I the Blackened fish, battered shrimp, mango salad and fried rice combo box $6.29.  The fish was very good.  Nice pepper taste and moist.  Mango salad was good too.  Shrimp was over cooked and fried rice was bland.  If you want cheap Cajun and Chinese meal then this is the place for you."

In [103]:
''.join([list(x) for x in bus_set][1])

'DGwDXazeFcD7DByweszpFA'